@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body {
	background-color: rgb(30, 50, 76);
	color: #ddd;
	font-family: "Atkinson Hyperlegible";
}

h2 {
	font-size: 25px;
	margin: 0;
}

input,
select,
button {
	background-color: rgb(30, 50, 76);
	color: #ddd;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 500px;
	height: 36px;
	font-family: "Atkinson Hyperlegible";
	font-size: 18px;
	margin: 3px;
	padding-left: 5px;
	box-sizing: border-box;
}

input::placeholder,
option[disabled] {
	color: #8a8a8a;
}

option {
	color: #ddd;
}

#msg {
	font-size: 20px;
	margin: 0;
}

#msg.error {
	color: red;
}

#msg.loading {
	color: #aaa;
}